### Análise - Classificação

In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv("prediction.csv", sep=',')

In [37]:
df = df [['tourney_date', 'surface', 'round', 'player_name', 'adv_name', 'class', 'prediction']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 7 columns):
tourney_date    460 non-null int64
surface         460 non-null object
round           460 non-null object
player_name     460 non-null object
adv_name        460 non-null object
class           460 non-null int64
prediction      460 non-null int64
dtypes: int64(3), object(4)
memory usage: 25.3+ KB

In [38]:
df['acerto'] = np.where(df['prediction']==df['class'], 1, 0)

In [39]:
df['tourney_date'].unique()

array([20180115, 20180827, 20180702, 20190114, 20180528])

### Australia Open 2018

In [78]:
ao2018 = df[df['tourney_date'] == 20180115]

In [79]:
ao2018.head()

,tourney_date,surface,round,player_name,adv_name,class,prediction,acerto
0,20180115,Hard,R128,Sam Querrey,Feliciano Lopez,1,1,1
4,20180115,Hard,R128,Laslo Djere,Ivo Karlovic,0,1,0
8,20180115,Hard,R64,Jan Lennard Struff,Roger Federer,0,0,1
9,20180115,Hard,F,Marin Cilic,Roger Federer,0,0,1
17,20180115,Hard,R32,Roger Federer,Richard Gasquet,1,1,1

In [80]:
ao2018['player_name'].nunique()

36

In [81]:
ao2018['adv_name'].nunique()

54

In [82]:
ao2018 = ao2018.groupby('round')['acerto'].agg(['sum','count'])

In [83]:
ao2018['percentage'] = ao2018['sum']/ao2018['count']

In [84]:
ao2018.head(10)

       sum  count  percentage
round
F        2      2    1.000000
QF       1      4    0.250000
R128    19     26    0.730769
R16      8     10    0.800000
R32      9     12    0.750000
R64     17     20    0.850000
SF       2      2    1.000000