# Data Wrangling - Matches Database

In [47]:
import pandas as pd

In [48]:
df_match= pd.read_csv("atp_matches.csv", sep=';')

### 1. Ajuste de tipo de dado

In [49]:
# Ajuste Idade
df_match['winner_age'].replace(',', '.', regex=True, inplace=True)
df_match['loser_age'].replace(',', '.', regex=True, inplace=True)

df_match['winner_age'] = df_match['winner_age'].astype(float)
df_match['loser_age'] = df_match['loser_age'].astype(float)

### 2. Separar base entre Winner x Loser

Constribuir atributo pela diferen√ßa dos outros

In [50]:
#Winner

df_match['diff_rank'] = df_match['winner_rank'] - df_match['loser_rank']
df_match['diff_rank_points'] = df_match['winner_rank_points'] - df_match['loser_rank_points']
df_match['diff_age'] = df_match['winner_age'] - df_match['loser_age']
df_match['class'] = 1

df_winner = df_match[['surface', 'tourney_level', 'tourney_date', 'winner_id', 'winner_name', 'winner_hand', 
                    'loser_id', 'loser_name', 'loser_hand', 'round', 'diff_rank', 'diff_rank_points', 'diff_age', 'class']].dropna()

df_winner = df_winner.rename(columns={"winner_id": "player_id", "winner_name": "player_name", "winner_hand": "player_hand", 
                   "loser_id": "adv_id", "loser_name": "adv_name", "loser_hand": "adv_hand"})

In [51]:
#construct loser

df_match['diff_rank'] =  df_match['loser_rank'] - df_match['winner_rank']
df_match['diff_rank_points'] = df_match['loser_rank_points'] - df_match['winner_rank_points']
df_match['diff_age'] = df_match['loser_age'] - df_match['winner_age']
df_match['class'] = 0

df_loser = df_match[['surface', 'tourney_level', 'tourney_date', 'loser_id', 'loser_name', 'loser_hand', 
                    'winner_id', 'winner_name', 'winner_hand', 'round', 'diff_rank', 'diff_rank_points', 'diff_age', 'class']].dropna()

df_loser = df_loser.rename(columns={"loser_id": "player_id", "loser_name": "player_name", "loser_hand": "player_hand", 
                   "winner_id": "adv_id", "winner_name": "adv_name", "winner_hand": "adv_hand"})

### 3. Merge de dataframes

In [52]:
df = pd.concat([df_winner, df_loser], sort=False)

In [53]:
df.head()

,surface,tourney_level,tourney_date,player_id,player_name,player_hand,adv_id,adv_name,adv_hand,round,diff_rank,diff_rank_points,diff_age,class
0,Hard,A,20000103,102358,Thomas Enqvist,R,103096,Arnaud Clement,R,R32,-52.0,1360.0,3.76,1
1,Hard,A,20000103,103819,Roger Federer,R,102533,Jens Knippschild,R,R32,-27.0,111.0,-6.48,1
2,Hard,A,20000103,102998,Jan Michael Gambill,R,101885,Wayne Arthurs,L,R32,-47.0,301.0,-6.22,1
3,Hard,A,20000103,103206,Sebastien Grosjean,R,102776,Andrew Ilie,R,R32,-27.0,326.0,-2.11,1
4,Hard,A,20000103,102796,Magnus Norman,R,102401,Scott Draper,L,R32,-139.0,1025.0,-1.99,1

### 4. Salvar base

In [55]:
df.to_csv('matches_info_cleaned.csv', encoding='utf-8', index=False)